-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: qydentra
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_seq_appointments`
--

DROP TABLE IF EXISTS `_seq_appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_seq_appointments` (
  `last_id` int(10) unsigned NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_seq_appointments`
--

LOCK TABLES `_seq_appointments` WRITE;
/*!40000 ALTER TABLE `_seq_appointments` DISABLE KEYS */;
INSERT INTO `_seq_appointments` VALUES (4);
/*!40000 ALTER TABLE `_seq_appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_seq_pat_notif`
--

DROP TABLE IF EXISTS `_seq_pat_notif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_seq_pat_notif` (
  `last_id` int(10) unsigned NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_seq_pat_notif`
--

LOCK TABLES `_seq_pat_notif` WRITE;
/*!40000 ALTER TABLE `_seq_pat_notif` DISABLE KEYS */;
INSERT INTO `_seq_pat_notif` VALUES (18);
/*!40000 ALTER TABLE `_seq_pat_notif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_seq_patients`
--

DROP TABLE IF EXISTS `_seq_patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_seq_patients` (
  `last_id` int(10) unsigned NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_seq_patients`
--

LOCK TABLES `_seq_patients` WRITE;
/*!40000 ALTER TABLE `_seq_patients` DISABLE KEYS */;
INSERT INTO `_seq_patients` VALUES (2);
/*!40000 ALTER TABLE `_seq_patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_seq_rec_notif`
--

DROP TABLE IF EXISTS `_seq_rec_notif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_seq_rec_notif` (
  `last_id` int(10) unsigned NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_seq_rec_notif`
--

LOCK TABLES `_seq_rec_notif` WRITE;
/*!40000 ALTER TABLE `_seq_rec_notif` DISABLE KEYS */;
INSERT INTO `_seq_rec_notif` VALUES (8);
/*!40000 ALTER TABLE `_seq_rec_notif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_seq_staff_ad`
--

DROP TABLE IF EXISTS `_seq_staff_ad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_seq_staff_ad` (
  `last_id` int(10) unsigned NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_seq_staff_ad`
--

LOCK TABLES `_seq_staff_ad` WRITE;
/*!40000 ALTER TABLE `_seq_staff_ad` DISABLE KEYS */;
INSERT INTO `_seq_staff_ad` VALUES (1);
/*!40000 ALTER TABLE `_seq_staff_ad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_seq_staff_de`
--

DROP TABLE IF EXISTS `_seq_staff_de`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_seq_staff_de` (
  `last_id` int(10) unsigned NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_seq_staff_de`
--

LOCK TABLES `_seq_staff_de` WRITE;
/*!40000 ALTER TABLE `_seq_staff_de` DISABLE KEYS */;
INSERT INTO `_seq_staff_de` VALUES (1);
/*!40000 ALTER TABLE `_seq_staff_de` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_seq_staff_re`
--

DROP TABLE IF EXISTS `_seq_staff_re`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_seq_staff_re` (
  `last_id` int(10) unsigned NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_seq_staff_re`
--

LOCK TABLES `_seq_staff_re` WRITE;
/*!40000 ALTER TABLE `_seq_staff_re` DISABLE KEYS */;
INSERT INTO `_seq_staff_re` VALUES (1);
/*!40000 ALTER TABLE `_seq_staff_re` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appointments` (
  `appointment_id` varchar(10) NOT NULL,
  `patient_id` varchar(10) DEFAULT NULL,
  `service_type` varchar(100) DEFAULT NULL,
  `service_desc` varchar(150) DEFAULT NULL,
  `appointment_date` date DEFAULT NULL,
  `appointment_time` varchar(50) DEFAULT NULL,
  `status` enum('Pending','Approved','In Progress','Completed','Cancelled') DEFAULT 'Pending',
  `queue_number` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `dentist_notes` text DEFAULT NULL,
  `prescription` text DEFAULT NULL,
  `medical_history` text DEFAULT NULL,
  `odontogram_data` text DEFAULT NULL,
  PRIMARY KEY (`appointment_id`),
  KEY `patient_id` (`patient_id`),
  CONSTRAINT `appointments_ibfk_1` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_appointments_bi

BEFORE INSERT ON appointments

FOR EACH ROW

BEGIN

    DECLARE next_id INT;

    UPDATE _seq_appointments SET last_id = last_id + 1;

    SELECT last_id INTO next_id FROM _seq_appointments LIMIT 1;

    SET NEW.appointment_id = CONCAT('AP', LPAD(next_id, 3, '0'));

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `dentists`
--

DROP TABLE IF EXISTS `dentists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dentists` (
  `dentist_id` varchar(10) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) DEFAULT 'dentist',
  `specialization` varchar(100) DEFAULT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `profile_photo` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`dentist_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dentists`
--

LOCK TABLES `dentists` WRITE;
/*!40000 ALTER TABLE `dentists` DISABLE KEYS */;
INSERT INTO `dentists` VALUES ('DE001','Clinic Dentist','dentist@qydentra.com','$2y$10$42WaES.Ih13xFS1L8kkJreAnMIQQ7aJgPOMStCSpdJP9SiRNgbEdq','dentist',NULL,NULL,NULL,'2026-06-08 04:56:32');
/*!40000 ALTER TABLE `dentists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_notifications`
--

DROP TABLE IF EXISTS `patient_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_notifications` (
  `notification_id` varchar(10) NOT NULL,
  `patient_id` varchar(10) NOT NULL,
  `title` varchar(100) DEFAULT NULL,
  `type` enum('Appointment','Queue','System') DEFAULT 'Appointment',
  `message` text NOT NULL,
  `appointment_id` varchar(10) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`notification_id`),
  KEY `patient_id` (`patient_id`),
  KEY `appointment_id` (`appointment_id`),
  CONSTRAINT `patient_notifications_ibfk_1` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`),
  CONSTRAINT `patient_notifications_ibfk_2` FOREIGN KEY (`appointment_id`) REFERENCES `appointments` (`appointment_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_notifications`
--

LOCK TABLES `patient_notifications` WRITE;
/*!40000 ALTER TABLE `patient_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_notifications` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_pat_notif_bi

BEFORE INSERT ON patient_notifications

FOR EACH ROW

BEGIN

    DECLARE next_id INT;

    UPDATE _seq_pat_notif SET last_id = last_id + 1;

    SELECT last_id INTO next_id FROM _seq_pat_notif LIMIT 1;

    SET NEW.notification_id = CONCAT('PN', LPAD(next_id, 3, '0'));

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `patients`
--

DROP TABLE IF EXISTS `patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patients` (
  `patient_id` varchar(10) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) DEFAULT 'patient',
  `profile_photo` text DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `medical_history` text DEFAULT NULL,
  `odontogram_data` text DEFAULT NULL,
  PRIMARY KEY (`patient_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patients`
--

LOCK TABLES `patients` WRITE;
/*!40000 ALTER TABLE `patients` DISABLE KEYS */;
INSERT INTO `patients` VALUES ('PT001','Donna Mae Lat','donnamaelat@gmail.com','$2y$10$EOQmfooMdiJoXWQgIfHxEO6cR8zM9QIGpIxG6ptxteMEKMpWTC1ia','patient',NULL,NULL,'2026-06-08 05:13:05','testing medical conditions ','{\"23\":\"Filled\"}'),('PT002','user1','user@gmail.com','$2y$10$LJtSekupQqQThEGXP1YaLO6wGsF3rJlFpx1sWGaYkv5wUceYOudTi','patient',NULL,NULL,'2026-06-08 07:15:39','','{\"27\":\"Missing\"}');
/*!40000 ALTER TABLE `patients` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_patients_bi

BEFORE INSERT ON patients

FOR EACH ROW

BEGIN

    DECLARE next_id INT;

    UPDATE _seq_patients SET last_id = last_id + 1;

    SELECT last_id INTO next_id FROM _seq_patients LIMIT 1;

    SET NEW.patient_id = CONCAT('PT', LPAD(next_id, 3, '0'));

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `receptionist_notifications`
--

DROP TABLE IF EXISTS `receptionist_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `receptionist_notifications` (
  `receptionist_notification_id` varchar(10) NOT NULL,
  `receptionist_id` varchar(10) NOT NULL,
  `title` varchar(100) NOT NULL,
  `message` text NOT NULL,
  `type` enum('Appointment','Queue','System') DEFAULT 'Appointment',
  `status` enum('Unread','Read') DEFAULT 'Unread',
  `appointment_id` varchar(10) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`receptionist_notification_id`),
  KEY `receptionist_id` (`receptionist_id`),
  KEY `appointment_id` (`appointment_id`),
  CONSTRAINT `receptionist_notifications_ibfk_1` FOREIGN KEY (`receptionist_id`) REFERENCES `staffs` (`staff_id`),
  CONSTRAINT `receptionist_notifications_ibfk_2` FOREIGN KEY (`appointment_id`) REFERENCES `appointments` (`appointment_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receptionist_notifications`
--

LOCK TABLES `receptionist_notifications` WRITE;
/*!40000 ALTER TABLE `receptionist_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `receptionist_notifications` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_rec_notif_bi

BEFORE INSERT ON receptionist_notifications

FOR EACH ROW

BEGIN

    DECLARE next_id INT;

    UPDATE _seq_rec_notif SET last_id = last_id + 1;

    SELECT last_id INTO next_id FROM _seq_rec_notif LIMIT 1;

    SET NEW.receptionist_notification_id = CONCAT('RN', LPAD(next_id, 3, '0'));

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `staffs`
--

DROP TABLE IF EXISTS `staffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staffs` (
  `staff_id` varchar(10) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  `profile_photo` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`staff_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staffs`
--

LOCK TABLES `staffs` WRITE;
/*!40000 ALTER TABLE `staffs` DISABLE KEYS */;
INSERT INTO `staffs` VALUES ('AD001','Clinic Admin','admin@qydentra.com','$2y$10$LeToVUwUqDZzNMn7HH3mme5z4oaZnid9dGR4JxbkABCu5eNLC0sym','admin',NULL,'2026-06-08 04:33:25'),('RE001','Clinic Receptionist','receptionist@qydentra.com','$2y$10$55aHBBqLFz35wzeS0JvaMexCGGWjEcG7laJTP4Igisizk0UT2wyiq','receptionist',NULL,'2026-06-08 04:33:25');
/*!40000 ALTER TABLE `staffs` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_staffs_bi

BEFORE INSERT ON staffs

FOR EACH ROW

BEGIN

    DECLARE next_id INT;

    DECLARE prefix  VARCHAR(2);



    IF NEW.role = 'receptionist' THEN

        UPDATE _seq_staff_re SET last_id = last_id + 1;

        SELECT last_id INTO next_id FROM _seq_staff_re LIMIT 1;

        SET prefix = 'RE';

    ELSEIF NEW.role = 'dentist' THEN

        UPDATE _seq_staff_de SET last_id = last_id + 1;

        SELECT last_id INTO next_id FROM _seq_staff_de LIMIT 1;

        SET prefix = 'DE';

    ELSE

        -- admin (and any future role falls here as AD)

        UPDATE _seq_staff_ad SET last_id = last_id + 1;

        SELECT last_id INTO next_id FROM _seq_staff_ad LIMIT 1;

        SET prefix = 'AD';

    END IF;



    SET NEW.staff_id = CONCAT(prefix, LPAD(next_id, 3, '0'));

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-08 15:22:43
